.so-widget-sow-cta-default-423918009508 .sow-cta-base {
  border: 1px solid #e3e3e3;
  background-color: #f8f8f8;
}
.so-widget-sow-cta-default-423918009508 .sow-cta-base .sow-cta-text {
  float: left;
}
.so-widget-sow-cta-default-423918009508 .sow-cta-base .so-widget-sow-button {
  float: right;
  margin-left: 1em;
}